<ion-header  [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Registrar usuario
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item class="ion-margin">
      <ion-label  position="floating">
        <ion-icon position="floating" name="person"></ion-icon>
        Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}"  value="" id="name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin ">
      <ion-label position="floating">
        <ion-icon position="floating" name="key"></ion-icon>
        Apellidos
      </ion-label>
      <ion-input  [(ngModel)]="apellidos" [ngModelOptions]="{standalone: true}" type="text" value=""  id="code"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-label  position="floating">
        <ion-icon position="floating" name="person"></ion-icon>
        Número de cédula</ion-label>
      <ion-input [(ngModel)]="cedula" [ngModelOptions]="{standalone: true}"  value="" id="name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin ">
      <ion-label position="floating">
        <ion-icon position="floating" name="key"></ion-icon>
        Contraseña
      </ion-label>
      <ion-input  [(ngModel)]="contrasenna" [ngModelOptions]="{standalone: true}" type="password" value=""  id="code"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-label  position="floating">
        <ion-icon position="floating" name="person"></ion-icon>
       Estatura</ion-label>
      <ion-input [(ngModel)]="altura" [ngModelOptions]="{standalone: true}"  value="" id="name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-label  position="floating">
        <ion-icon position="floating" name="person"></ion-icon>
        Peso</ion-label>
      <ion-input [(ngModel)]="peso" [ngModelOptions]="{standalone: true}"  value="" id="name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-label  position="floating">
        <ion-icon position="floating" name="person"></ion-icon>
        Grasa</ion-label>
      <ion-input [(ngModel)]="grasa" [ngModelOptions]="{standalone: true}"  value="" id="name"></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-label  position="floating">
        <ion-icon position="floating" name="person"></ion-icon>
        Masa Muscular</ion-label>
      <ion-input [(ngModel)]="masaMuscular" [ngModelOptions]="{standalone: true}"  value="" id="name"></ion-input>
    </ion-item>

  </form>

    <ion-button color="success" expand="full" (click)="crearUsuario()">
      <ion-icon name="checkmark-outline" ></ion-icon>Guardar</ion-button>


</ion-content>
