<ion-header  [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Seleccionar el día de entreno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let item of arrDiasHorarios" (click)="diaSeleccionado(item.dia)">

      <ion-item>
        {{item.dia}}
      </ion-item>

  </ion-card>
</ion-content>
