<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Lista de Horarios de {{dia}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list>
      <ion-col *ngFor="let item of arr">
        <ion-item *ngIf="item.espacio>=1" button  (click)="alert(item.id,item.hora)" expand="full" >
          {{item.hora}}
          <ion-badge color="danger" slot="end">{{item.espacio}}</ion-badge>
        </ion-item>
        <ion-item *ngIf="item.espacio<1" button  (click)="alert(item.id,item.hora)" expand="full" disabled>
          {{item.hora}}
          <ion-badge color="danger" slot="end">{{item.espacio}}</ion-badge>
        </ion-item>
      </ion-col>


    </ion-list>
  </ion-card>

</ion-content>
<ion-button expand="full" color="danger" (click)="dismiss()">
  Cerrar
</ion-button>
